.header {
    background-color: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.header-utilities {
    display: flex;
    /* flexで並べる複数のアイテムを主軸をcenter＝中央で各アイテムを揃える設定 */
    align-items: center;
    /* 最初と最後のアイテムを両端、その間は均等 */
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    text-decoration: none;
}